/* Grundlegende Formatierung */
body {
  font-family: Oswald, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* Header-Stil */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-top: 0;
}

/* Inhalt-Stil */
.content {
  padding: 20px;
}

p {
  font-size: 16px;
  line-height: 1.6;
}

/* Links-Stil */
a {
  color: #007BFF;
  text-decoration: none;
  transition: color 0.3s;
}

a:hover {
  color: #0056b3;
}

/* Button-Stil */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .button {
    padding: 8px 16px; /* Beispielstil für kleinere Bildschirme */
  }
}



.button:hover {
  background-color: #0056b3;
}
